<div class="container">
    <h2>{{ isEditMode ? 'Edit Blog Post' : 'Add New Blog Post' }}</h2>
    <form [formGroup]="blogForm" (ngSubmit)="onSubmit()">
      <!-- <div class="form-group">
        <label for="title">Title</label>
        <input id="title" formControlName="title" class="form-control" [ngClass]="{ 'is-invalid': blogForm.get('title')?.invalid && blogForm.get('title')?.touched }">
        <div *ngIf="blogForm.get('title')?.invalid && blogForm.get('title')?.touched" class="invalid-feedback">
          Title is required.
        </div>
      </div> -->
      <input type="hidden" for="id">
      <div class="form-group">
        <label for="text">Content</label>
        <textarea id="text" formControlName="text" class="form-control" [ngClass]="{ 'is-invalid': blogForm.get('text')?.invalid && blogForm.get('text')?.touched }"></textarea>
        <div *ngIf="blogForm.get('text')?.invalid && blogForm.get('text')?.touched" class="invalid-feedback">
          Content is required.
        </div>
      </div>
      <div class="form-group">
        <label for="username">Author</label>
        <input id="username" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': blogForm.get('username')?.invalid && blogForm.get('username')?.touched }">
        <div *ngIf="blogForm.get('username')?.invalid && blogForm.get('username')?.touched" class="invalid-feedback">
          Author is required.
        </div>
      </div>
      <div class="form-group">
        <label for="dateCreated">Date</label>
        <input id="dateCreated" type="date" formControlName="dateCreated" class="form-control" [ngClass]="{ 'is-invalid': blogForm.get('dateCreated')?.invalid && blogForm.get('dateCreated')?.touched }">
        <div *ngIf="blogForm.get('dateCreated')?.invalid && blogForm.get('dateCreated')?.touched" class="invalid-feedback">
          Date is required.
        </div>
      </div>
      <button type="submit" class="btn btn-primary">{{ isEditMode ? 'Update' : 'Add' }}</button>
      <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
    </form>
  </div>
  